<div id="panels">
    <div class="basic" id="list1b" style="<%=@list_style%>">
        <a class="head">&nbsp;<%= "Colors" %></a>
        <div class="panel-body">
			<p>            
			<% @colors.each do |c| %>
            <%= link_to_remote (image_tag("/assets/clear.gif", :alt => "#{c.title}", :style => "background-image: url(/images/colors/small/#{c.image_filename}.jpg);width: 170px; height:48px;"),
            :url => {:action => :fade_replace_aj, :color => 'true', :id => c.id }) %>
			
			<!--
            <img alt="<%=c.image_filename %>.jpg" src="/images/colors/small/<%=c.image_filename%>.jpg" />
			 <%= link_to_remote ("pen #{c.id}",
            :url => {:action => :fade_replace_aj, :id => c.id })%>
            </li> -->
			<% end %>
			</p>
        </div>
    </div>
</div><!-- id=#panels -->

