<div id="panels">
    <div class="basic" id="list1b" style="float:left; width:100%;">
        <a class="head"><%= "Colors" %></a>
        <div class="panel-body">
			<p>            
			<% @colors.each do |c| %>
            <%= link_to_remote (image_tag("/images/colors/small/#{c.image_filename}.jpg"),
            :url => {:action => :fade_replace_aj, :color => 'true', :id => c.id }) %>
			
			<!--
            <img alt="<%=c.image_filename %>.jpg" src="/images/colors/small/<%=c.image_filename%>.jpg" />
			 <%= link_to_remote ("pen #{c.id}",
            :url => {:action => :fade_replace_aj, :id => c.id })%>
            </li> -->
			<% end %>
			</p>
        </div>
    </div>
</div><!-- id=#panels -->

